image: continuumio/miniconda3:latest

before_script:
    - python --version
    - export PIP_CACHE_DIR="/opt/cache/pip"
    - conda create --no-default-packages -n signaturizer_env -y python=3.7
    - source activate signaturizer_env
    - pip install -r requirements.txt
    - python -c "import rdkit"

stages:
  - test
  - test_deploy
  - deploy

unittest:
  stage: test
  script:
    - pwd
    - ls -l
    - export PYTHONPATH="$PYTHONPATH:."
    - python -c "import sys;print(sys.path)"
    - pytest

pypi_deploy_test:
  stage: test_deploy
  cache: {}
  script:
    - pip install -U twine
    - python setup.py sdist
    - twine upload --verbose --repository testpypi dist/*
  only:
    - tags

pypi_deploy:
  stage: deploy
  cache: {}
  script:
    - pip install -U twine
    - python setup.py sdist
    - twine upload --verbose dist/*
  only:
    - tags
